In [2]:
!pip3 install clickhouse-connect
!pip3 install bdt
!pip3 install dbt-clickhouse

Requirement already satisfied: clickhouse-connect in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (0.7.1)
Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-connect) (2023.7.22)
Requirement already satisfied: urllib3>=1.26 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-connect) (1.26.16)
Requirement already satisfied: pytz in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-connect) (2022.7.1)
Requirement already satisfied: zstandard in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-connect) (0.22.0)
Requirement already satisfied: lz4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-connect) (4.3.3)
Collecting bdt
  Downloading BDT-0.0.3.tar.gz (4.3 kB)
  Preparing metadata (setup.py) ... done
Collecting pytest==3.3.2 (from bdt)
  Downloading pytest-3.3.2-py2.py3-none-any.whl.metadata (4.9 kB)
Collecting boolexp==0.1 (from bdt)
  Downloading boolexp-0.1.tar.gz (3.1 kB)
  Preparing metadata (setup.py) ... done
Collecting py>=1.5.0 (from pytest==3.3.2->bdt)
  Downloading py-1.11.0-py2.py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: six>=1.10.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pytest==3.3.2->bdt) (1.16.0)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pytest==3.3.2->bdt) (69.1.0)
Requirement already satisfied: attrs>=17.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pytest==3.3.2->bdt) (22.2.0)
Collecting pluggy<0.7,>=0.5 (from pytest==3.3.2->bdt)
  Downloading pluggy-0.6.0-py3-none-any.whl.metadata (3.5 kB)
Downloading pytest-3.3.2-py2.py3-none-any.whl (185 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 185.2/185.2 kB 519.6 kB/s eta 0:00:00a 0:00:01
Downloading pluggy-0.6.0-py3-none-any.whl (13 kB)
Downloading py-1.11.0-py2.py3-none-any.whl (98 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.7/98.7 kB 600.9 kB/s eta 0:00:00a 0:00:01
Building wheels for collected packages: bdt, boolexp
  Building wheel for bdt (setup.py) ... done
  Created wheel for bdt: filename=BDT-0.0.3-py3-none-any.whl size=6122 sha256=8c066d37c86a379ab99b961a210d5ef90740a699ce288a3ffb417868dd088126
  Stored in directory: /Users/evgeniu/Library/Caches/pip/wheels/46/b9/8c/20965cb2470f761201c93c95c84c8bf46cda22f1395b215093
  Building wheel for boolexp (setup.py) ... done
  Created wheel for boolexp: filename=boolexp-0.1-py3-none-any.whl size=3545 sha256=4e3c45419384fc9caabdd462d5b28dc024bd0a17c2c150d55b8b25ce30e89db2
  Stored in directory: /Users/evgeniu/Library/Caches/pip/wheels/4b/53/cd/188ec08b9b7185d739f47c7ebf4948252c454ca685179b377b
Successfully built bdt boolexp
Installing collected packages: boolexp, py, pluggy, pytest, bdt
Successfully installed bdt-0.0.3 boolexp-0.1 pluggy-0.6.0 py-1.11.0 pytest-3.3.2
Requirement already satisfied: dbt-clickhouse in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.7.3)
Requirement already satisfied: dbt-core~=1.7.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-clickhouse) (1.7.9)
Requirement already satisfied: clickhouse-connect>=0.6.22 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-clickhouse) (0.7.1)
Requirement already satisfied: clickhouse-driver>=0.2.6 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-clickhouse) (0.2.7)
Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-connect>=0.6.22->dbt-clickhouse) (2023.7.22)
Requirement already satisfied: urllib3>=1.26 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-connect>=0.6.22->dbt-clickhouse) (1.26.16)
Requirement already satisfied: pytz in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-connect>=0.6.22->dbt-clickhouse) (2022.7.1)
Requirement already satisfied: zstandard in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-connect>=0.6.22->dbt-clickhouse) (0.22.0)
Requirement already satisfied: lz4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-connect>=0.6.22->dbt-clickhouse) (4.3.3)
Requirement already satisfied: tzlocal in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from clickhouse-driver>=0.2.6->dbt-clickhouse) (5.2)
Requirement already satisfied: agate~=1.7.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (1.7.1)
Requirement already satisfied: Jinja2<4,>=3.1.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (3.1.3)
Requirement already satisfied: mashumaro~=3.9 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from mashumaro[msgpack]~=3.9->dbt-core~=1.7.0->dbt-clickhouse) (3.12)
Requirement already satisfied: logbook<1.6,>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (1.5.3)
Requirement already satisfied: click<9,>=8.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (8.1.6)
Requirement already satisfied: networkx<4,>=2.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (3.1)
Requirement already satisfied: colorama<0.5,>=0.3.9 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (0.4.6)
Requirement already satisfied: pathspec<0.12,>=0.9 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (0.11.2)
Requirement already satisfied: isodate<0.7,>=0.6 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (0.6.1)
Requirement already satisfied: sqlparse<0.5,>=0.2.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (0.4.4)
Requirement already satisfied: dbt-extractor~=0.5.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (0.5.1)
Requirement already satisfied: minimal-snowplow-tracker~=0.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (0.0.2)
Requirement already satisfied: dbt-semantic-interfaces~=0.4.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (0.4.4)
Requirement already satisfied: jsonschema>=3.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (4.17.3)
Requirement already satisfied: packaging>20.9 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (23.0)
Requirement already satisfied: protobuf>=4.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (4.25.2)
Requirement already satisfied: pyyaml>=6.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (6.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (4.10.0)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (1.15.1)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (3.4)
Requirement already satisfied: requests<3.0.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-core~=1.7.0->dbt-clickhouse) (2.31.0)
Requirement already satisfied: Babel>=2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from agate~=1.7.0->dbt-core~=1.7.0->dbt-clickhouse) (2.14.0)
Requirement already satisfied: leather>=0.3.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from agate~=1.7.0->dbt-core~=1.7.0->dbt-clickhouse) (0.4.0)
Requirement already satisfied: parsedatetime!=2.5,>=2.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from agate~=1.7.0->dbt-core~=1.7.0->dbt-clickhouse) (2.6)
Requirement already satisfied: python-slugify>=1.2.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from agate~=1.7.0->dbt-core~=1.7.0->dbt-clickhouse) (8.0.4)
Requirement already satisfied: pytimeparse>=1.1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from agate~=1.7.0->dbt-core~=1.7.0->dbt-clickhouse) (1.1.8)
Requirement already satisfied: pycparser in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from cffi<2.0.0,>=1.9->dbt-core~=1.7.0->dbt-clickhouse) (2.21)
Requirement already satisfied: importlib-metadata~=6.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-semantic-interfaces~=0.4.2->dbt-core~=1.7.0->dbt-clickhouse) (6.0.0)
Requirement already satisfied: more-itertools<11.0,>=8.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-semantic-interfaces~=0.4.2->dbt-core~=1.7.0->dbt-clickhouse) (10.2.0)
Requirement already satisfied: pydantic<3,>=1.10 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-semantic-interfaces~=0.4.2->dbt-core~=1.7.0->dbt-clickhouse) (2.6.3)
Requirement already satisfied: python-dateutil~=2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from dbt-semantic-interfaces~=0.4.2->dbt-core~=1.7.0->dbt-clickhouse) (2.8.2)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from isodate<0.7,>=0.6->dbt-core~=1.7.0->dbt-clickhouse) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from Jinja2<4,>=3.1.3->dbt-core~=1.7.0->dbt-clickhouse) (2.1.2)
Requirement already satisfied: attrs>=17.4.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->dbt-core~=1.7.0->dbt-clickhouse) (22.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->dbt-core~=1.7.0->dbt-clickhouse) (5.12.0)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->dbt-core~=1.7.0->dbt-clickhouse) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from jsonschema>=3.0->dbt-core~=1.7.0->dbt-clickhouse) (0.19.3)
Requirement already satisfied: msgpack>=0.5.6 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from mashumaro[msgpack]~=3.9->dbt-core~=1.7.0->dbt-clickhouse) (1.0.8)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests<3.0.0->dbt-core~=1.7.0->dbt-clickhouse) (3.2.0)
Requirement already satisfied: backports.zoneinfo in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from tzlocal->clickhouse-driver>=0.2.6->dbt-clickhouse) (0.2.1)
Requirement already satisfied: zipp>=0.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from importlib-metadata~=6.0->dbt-semantic-interfaces~=0.4.2->dbt-core~=1.7.0->dbt-clickhouse) (3.15.0)
Requirement already satisfied: annotated-types>=0.4.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pydantic<3,>=1.10->dbt-semantic-interfaces~=0.4.2->dbt-core~=1.7.0->dbt-clickhouse) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pydantic<3,>=1.10->dbt-semantic-interfaces~=0.4.2->dbt-core~=1.7.0->dbt-clickhouse) (2.16.3)
Requirement already satisfied: text-unidecode>=1.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-slugify>=1.2.1->agate~=1.7.0->dbt-core~=1.7.0->dbt-clickhouse) (1.3)

In [2]:
import clickhouse_connect
import os

In [3]:
client = clickhouse_connect.get_client(host='clickhouse.evgeni.keenetic.link', interface='https', port=443, username='artsofte', password='Ur*2nLa=', verify=False)

In [4]:
client.command('CREATE DATABASE IF NOT EXISTS test_db')

In [5]:
with open('/Users/evgeniu/de_clickhouse.sql', 'r') as f:
    sql_commands = f.read().split('\n\n')
#print(sql_command)

In [75]:
for command in sql_commands:
    client.command(command)

Описание структуры таблиц

manager_departments - таблица содержащая информацию о принадлежности менеджера к отделу
* email - email адрес менеджера
* department - отдел к которому относится менеджер

payments - таблица содержащая информацию о поступлениях 
* id - уникальный идентификатор поступления
* value - сумма поступления 
* client_id - идентификатор клиента осуществивший платеж
* client_name - название клиента осуществивший платеж
* payment_date - дата поступления
* manager_name - ФИО менеджера ответственного за клиента
* manager_email - email адрес менеджера ответственного за клиента

#### Task 1
На основе таблицы с поступлениями, необходимо найти платежи с максимальными суммами всех клиентов которые заплатили в январе 2023 года. Результат должен быть представлен в виде таблицы со следующими полями:
Название клиента
Дата когда пришел максимальный платеж
Сумма максимального поступления

In [6]:
client.query_df('''
                SELECT client_name, payment_date, value 
                FROM
                    (SELECT client_name, payment_date, value, max(value) over (partition by client_name) as max_value
                    FROM payments
                    WHERE DATE_TRUNC('month', payment_date) = '2023-01-01')
                WHERE value = max_value
                ''')

    client_name payment_date      value
0   Клиент #102   2023-01-20   621500.0
1   Клиент #103   2023-01-20   575600.0
2   Клиент #109   2023-01-10   878000.0
3   Клиент #111   2023-01-18   711194.0
4   Клиент #119   2023-01-31   699800.0
5   Клиент #124   2023-01-13   515660.0
6    Клиент #15   2023-01-19   595850.0
7   Клиент #153   2023-01-27   521609.0
8   Клиент #154   2023-01-19   580728.0
9   Клиент #155   2023-01-31   770000.0
10  Клиент #172   2023-01-26   810500.0
11  Клиент #203   2023-01-31  1085684.0
12   Клиент #21   2023-01-12   508100.0
13  Клиент #210   2023-01-31   580728.0
14   Клиент #23   2023-01-17   590819.0
15  Клиент #245   2023-01-27  1040000.0
16  Клиент #247   2023-01-27   543848.0
17  Клиент #249   2023-01-26  1726016.0
18   Клиент #25   2023-01-30  1559480.0
19  Клиент #251   2023-01-23   505400.0
20  Клиент #256   2023-01-19   513500.0
21  Клиент #264   2023-01-10   528350.0
22   Клиент #41   2023-01-09   515660.0
23    Клиент #5   2023-01-24   578300.0
24   Клиент #50   2023-01-09   531320.0
25   Клиент #53   2023-01-25   562640.0
26   Клиент #57   2023-01-26   581000.0
27   Клиент #58   2023-01-19   973580.0
28   Клиент #77   2023-01-23   635000.0
29   Клиент #84   2023-01-26   503888.0
30   Клиент #85   2023-01-30   581000.0
31   Клиент #88   2023-01-25   613400.0
32   Клиент #94   2023-01-19   524300.0

#### Task 2
Необходимо определить сколько принес денег каждый отдел. Таблица с поступлениями хранит информацию с имением и email адресе менеджера. Информация об отделе хранится в отдельной таблице-справочнике manager_departments. 

Связь этих двух таблиц осуществляется по полю email, но формат почты отличается. В каких-то случаях email менеджера представлен в формате n.ssssssss@domain.ru, где n это первая буква имени, ssssssss фамилия менеджера и между ними “.” (знак точки). В каких-то случаях формат имеет вид nssssssss@domain.ru, без точки между именем и фамилией. 
Необходимо объединить две таблицы с предварительным приведением почты к единому виду и дальнейшей агрегацией. 

Если для менеджера не определен отдел (указано значение NULL), то таких менеджеров необходимо отнести в группу “Отдел не определен”

In [7]:
client.query_df('''
                SELECT md.department, SUM(payments.value)
                FROM payments JOIN (SELECT replaceOne(email, '.', '') as email, COALESCE(department, 'Отдел не определен') as department 
                                    FROM manager_departments) AS md 
                              ON payments.manager_email = md.email
                GROUP BY md.department
                ''')

           department   sum(value)
0        Отдел продаж  100970750.0
1           Партнёрка   83105623.0
2  Клиентский  сервис   84710891.0
3   Клиентский сервис  118959628.0
4      ТОП-менеджмент   11995750.0
5  Отдел не определен    4741058.0
6      Проектный офис    9115198.0

#### Task 3
Необходимо дополнить таблицу с поступлениями полем “состояние клиента”. Если платеж для клиента является первым, то состояние клиента должно быть “Новый”. Для всех остальных платежей данного клиента, состояние должно быть “Действующий”.

In [8]:
client.query_df('''
                SELECT id, value, client_id, client_name, payment_date, manager_name, manager_email, case WHEN case_number = 1 THEN 'Новый'
                      WHEN case_number > 1 THEN 'Действующий' end as client_status
                FROM
                    (SELECT *, ROW_NUMBER() OVER (PARTITION BY client_id ORDER BY payment_date) AS case_number FROM payments)
                ''')

,id,value,client_id,client_name,payment_date,manager_name,manager_email,client_status
0,646,731210.0,1,Клиент #1,2023-10-03,Manager #12,nmanager12@profitbase.ru,Новый
1,600,581000.0,2,Клиент #2,2023-09-19,Manager #18,nmanager18@profitbase.ru,Новый
2,72,562640.0,3,Клиент #3,2023-02-08,Manager #23,nmanager23@profitbase.ru,Новый
3,485,562640.0,3,Клиент #3,2023-08-01,Manager #23,nmanager23@profitbase.ru,Действующий
4,218,567500.0,4,Клиент #4,2023-04-12,Manager #1,nmanager1@profitbase.ru,Новый
...,...,...,...,...,...,...,...,...
647,448,590000.0,267,Клиент #267,2023-07-19,Manager #23,nmanager23@profitbase.ru,Новый
648,491,680000.0,267,Клиент #267,2023-08-01,Manager #23,nmanager23@profitbase.ru,Действующий
649,612,581000.0,268,Клиент #268,2023-09-21,Manager #17,nmanager17@profitbase.ru,Новый
650,391,581000.0,269,Клиент #269,2023-06-23,Manager #14,nmanager14@profitbase.ru,Новый
651,392,515120.0,269,Клиент #269,2023-06-26,Manager #14,nmanager14@profitbase.ru,Действующий

#### Task 4

Необходимо сформировать таблицу в которой будет отражено сколько поступило денег в каждом месяце и как росла общая выручка с учетом предыдущих месяцев.

In [9]:
client.query_df('''
                SELECT *, SUM(revenue) OVER (ORDER BY period) AS revenue_cumulative
                FROM(SELECT DATE_TRUNC('month', payment_date) AS period, SUM(value) AS revenue
                    FROM payments
                    GROUP BY period)
                ''')

      period     revenue  revenue_cumulative
0 2023-01-01  30960654.0          30960654.0
1 2023-02-01  37519548.0          68480202.0
2 2023-03-01  55637744.0         124117946.0
3 2023-04-01  44849811.0         168967757.0
4 2023-05-01  41863267.0         210831024.0
5 2023-06-01  50931151.0         261762175.0
6 2023-07-01  44981771.0         306743946.0
7 2023-08-01  49063849.0         355807795.0
8 2023-09-01  52216351.0         408024146.0
9 2023-10-01   5574752.0         413598898.0

In [14]:
client.query_df('SHOW DATABASES')

                 name
0  INFORMATION_SCHEMA
1             default
2  information_schema
3              system
4             test_db

In [13]:
client.query_df('DROP TABLE task1')

Empty DataFrame
Columns: []
Index: []